
ch01_drift_3.pdf
ch03_drift_3_adwin.pdf
ch03_drift_sea_adwin.pdf
sae_tree.dot
sae_tree.png
figures/*
runs/*
spotPython.build.kriging.log
spotPython.spot.spot.log
spotRiver.fun.hyperriver.log
.DS_Store
