
ch01_drift_3.pdf
ch03_drift_3_adwin.pdf
ch03_drift_sea_adwin.pdf
sae_tree.dot
sae_tree.png
figures/*
runs/*
spotPython.build.kriging.log
spotPython.spot.spot.log
spotRiver.fun.hyperriver.log
.DS_Store
runs_OLD/
spot_024_experiment.pickle
ch10_friedman-hpt_correct.ipynb
gui/runs/
gui/spotPython.fun.hyperlight.log
gui/spotPython.fun.hypersklearn.log
gui/userModel/__pycache__/netlightregression.cpython-311.pyc
gui/userPrepModel/__pycache__/riverBikeHourly.cpython-311.pyc
gui/userPrepModel/__pycache__/riverBikeSharing.cpython-311.pyc
gui/userPrepModel/__pycache__/riverStandardScaler.cpython-311.pyc
gui/userExperiment/progress.txt
